<template>
    <ValidationObserver v-slot="{ handleSubmit }" ref="form">
        <form @submit.prevent="handleSubmit(submit)">
            <div class="form-group">
                <ValidationProvider rules="required" name="client" v-slot="{ errors }">
                    <select v-model="formFields.client_id" @focus="onClientsSelectFocus" :class="{'is-invalid': getValidationErrors(errors, 'client_id').length}" class="form-control" name="client_id">
                        <option v-for="client of clients || (order ? [{id: order.client_id, name: order.client_name}] : [])" :value="client.id">{{ client.name }}</option>
                    </select>
                    <validation-errors :errors="getValidationErrors(errors, 'client_id')"></validation-errors>
                </ValidationProvider>
            </div>
            <div class="form-group">
                <ValidationProvider rules="required" name="product" v-slot="{ errors }">
                    <select v-model="formFields.product_id" @focus="onProductsSelectFocus" :class="{'is-invalid': getValidationErrors(errors, 'product_id').length}" class="form-control" name="product_id">
                        <option v-for="product of products || (order ? [{id: order.product_id, name: order.product_name}] : [])" :value="product.id">{{ product.name }}</option>
                    </select>
                    <validation-errors :errors="getValidationErrors(errors, 'product_id')"></validation-errors>
                </ValidationProvider>
            </div>
            <div class="form-group">
                <ValidationProvider rules="required|integer|min_value:1" v-slot="{ errors }">
                    <input v-model="formFields.total" :class="{'is-invalid': getValidationErrors(errors, 'total').length}" type="number" name="total" class="form-control">
                    <validation-errors :errors="getValidationErrors(errors, 'total')"></validation-errors>
                </ValidationProvider>
            </div>
            <div class="form-group">
                <ValidationProvider rules="required" v-slot="{ errors }">
                    <input v-model="formFields.date" :class="{'is-invalid': getValidationErrors(errors, 'date').length}" type="date" name="date" class="form-control">
                    <validation-errors :errors="getValidationErrors(errors, 'date')"></validation-errors>
                </ValidationProvider>
            </div>
            <button :disabled="isSubmitting" type="submit" class="btn btn-primary">Save</button>
        </form>
    </ValidationObserver>
</template>

<script>
    import {form} from '../../../mixins/form';
    import {mapState, mapActions} from "vuex";
    export default {
        mixins: [form],
        props: ['order'],
        data() {
            return {
                isClientsLoading: false,
                isProductsLoading: false
            }
        },
        created () {

        },
        mounted(){
            this.formFields = _.cloneDeep(this.order)
        },
        computed: {
            _() {
                return _;
            },
            ...mapState({
                clients: state => state.clients.list,
                products: state => state.products.list,
            }),
        },
        methods: {
            ...mapActions('clients', {
                getClients: 'getList'
            }),
            ...mapActions('products', {
                getProducts: 'getList'
            }),
            ...mapActions('orders', {
                update: 'update'
            }),
            submit() {
                this.beforeSubmitHandle();
                this.update(this.formFields).then((response) => {
                    this.submitSuccessHandle(response, this.$refs.form);
                    this.$root.$refs.toastr.s(this.responseMessage || 'Order has been updated');
                    this.$emit('done');
                }).catch((error) => {
                    this.submitErrorHandle(error);
                    this.$root.$refs.toastr.e(this.responseMessage);
                });
            },
            onClientsSelectFocus(){
                if (this.clients || this.isClientsLoading) {
                    return false;
                }
                this.isClientsLoading = true;
                this.getClients().finally(() => this.isClientsLoading = false);
            },
            onProductsSelectFocus(){
                if (this.products || this.isProductsLoading) {
                    return false;
                }
                this.isProductsLoading = true;
                this.getProducts().finally(() => this.isProductsLoading = false);
            }
        },
    }
</script>
