<template>
    <div>
        <div class="container">
            <h1>Orders</h1>
            <div v-if="orders">
                <ValidationObserver v-slot="{ handleSubmit }">
                    <form @submit.prevent="handleSubmit(search)">
                        <div class="form-group">
                            <ValidationProvider :rules="`required${formFields.search_by === 'total' ? '|integer|min_value:1' : formFields.search_by === 'date' ? '|date' : ''}`" name="keyword" v-slot="{ errors }">
                                <input v-model="formFields.q" :class="{'is-invalid': getValidationErrors(errors, 'q').length}" type="text" name="q" class="form-control" placeholder="Keyword">
                                <validation-errors :errors="getValidationErrors(errors, 'q')"></validation-errors>
                            </ValidationProvider>
                        </div>
                        <div class="form-group">
                            <ValidationProvider rules="required" name="search by" v-slot="{ errors }">
                                <select v-model="formFields.search_by" :class="{'is-invalid': getValidationErrors(errors, 'search_by').length}" class="form-control" id="search_by" name="search_by">
                                    <option value="all">All</option>
                                    <option value="client_name">Client</option>
                                    <option value="product_name">Product</option>
                                    <option value="total">Total</option>
                                    <option value="date">Date</option>
                                </select>
                                <validation-errors :errors="getValidationErrors(errors, 'search_by')"></validation-errors>
                            </ValidationProvider>
                        </div>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                </ValidationObserver>

                <div class="chart-container">
                    <line-chart
                        v-if="chartData"
                        :chart-data="{
                        labels: _.map(chartData, val => convertTime(val.date).date),
                        datasets: [
                            {
                              label: 'Total',
                              backgroundColor: 'transparent',
                              data: _.map(chartData, val => +val.total_sum),
                              borderColor: '#0074D9',
                              strokeColor: '#0074D9',
                              pointBackgroundColor: '#0074D9',
                              pointStyle: 'rect',
                              pointRadius: 2,
                              lineTension: 0,
                              borderWidth: 1,
                              spanGaps: true,
                            }
                          ]
                        }"
                    ></line-chart>
                </div>

                <a @click.prevent="sendReport" :disabled="isReportSending" href="#">Email this report</a>

                <table v-if="orders.length" class="table">
                    <thead>
                    <tr>
                        <th @click="sort('client_name')" scope="col">Client <sorting-indicator :direction="sortingField === 'client_name' ? sortingDirection : null"></sorting-indicator></th>
                        <th @click="sort('product_name')" scope="col">Product <sorting-indicator :direction="sortingField === 'product_name' ? sortingDirection : null"></sorting-indicator></th>
                        <th @click="sort('total')" scope="col">Total <sorting-indicator :direction="sortingField === 'total' ? sortingDirection : null"></sorting-indicator></th>
                        <th @click="sort('date')" scope="col">Date <sorting-indicator :direction="sortingField === 'date' ? sortingDirection : null"></sorting-indicator></th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="order of orders">
                        <td>
                           {{ order.client_name }}
                        </td>
                        <td>{{ order.product_name }}</td>
                        <td>{{ order.total }}</td>
                        <td>{{ convertTime(order.date).date }}</td>
                        <td>
                            <modal :ref="`modal${order.id}`" :id="`edit-order-modal-${order.id}`">
                                <order-form :order="order" @done="orderUpdatedHandle(order)"></order-form>
                            </modal>
                            <button :disable="deletingOrder === order"  data-toggle="modal" :data-target="`#edit-order-modal-${order.id}`" type="button" class="btn btn-warning btn-sm">Edit</button>
                            <button :disable="deletingOrder === order" @click="deleteOrder(order)" type="button" class="btn btn-danger btn-sm">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <h2 v-else>No orders</h2>

                <pagination v-if="lastPage" :last-page="lastPage"></pagination>

            </div>
        </div>
    </div>
</template>

<script>
    import {form} from '../mixins/form';
    import {time} from '../mixins/time';
    import {mapState, mapActions} from 'vuex';
    import LineChart from './partials/LineChart.js'
    export default {
        mixins: [form, time],
        data() {
            return {
                deletingOrder: null,
                isReportSending: false,
                datacollection: null
            }
        },
        computed: {
            _() {
                return _;
            },
            $() {
                return $;
            },
            ...mapState({
                orders: state => state.orders.list,
                lastPage: state => _.get(state.orders.meta, 'last_page'),
                chartData: state => state.orders.chartData,
            }),
            sortingField(){
                return (this.$route.query.order_by || '').replace(/_(asc|desc)$/i, '') || null;
            },
            sortingDirection(){
                return (_.first((this.$route.query.order_by || '').match(/_(asc|desc)$/i)) || '').replace(/^_/i, '') || null;
            }
        },
        created () {
            this.getData(this.$route.query);
            this.formFields = _.pick(this.$route.query, ['q', 'search_by'])
        },
        mounted () {
            this.fillData()
        },
        methods: {
            ...mapActions('orders', [
                'destroy',
                'report'
            ]),
            ...mapActions('orders', {
                getData: 'getIndexPageData'
            }),
            sort(field) {
                this.$router.push(
                    _.assign(
                        _.pick(this.$route, ['name', 'params']),
                        {query: _.assign(_.omit(this.$route.query, ['order_by', 'page']), {order_by: `${field}_${this.sortingField === field && this.sortingDirection === 'asc' ? 'desc' : 'asc'}`})}
                    ));
            },
            search() {
                _.isEqual(_.pick(this.$route.query, _.keys(this.formFields)), _.assign({}, this.formFields)) && +_.get(this.$route.query, 'page', 1) <= 1
                    ? this.getData(this.$route.query)
                    : this.$router.push(
                        _.assign(
                            _.pick(this.$route, ['name', 'params']),
                            {query: _.assign(_.omit(this.$route.query, ['q', 'search_by', 'page']), _.pickBy(this.formFields, val => val))}
                        ));
            },
            deleteOrder(order) {
                if (!confirm("Do you really want to delete this order?")) {
                    return;
                }

                const goToPrevPage = this.orders.length === 1 && +this.meta.last_page === +this.$route.query.page;

                this.deletingOrder = order;
                this.destroy(order)
                    .then((response) => {
                        goToPrevPage
                            ? this.$router.push(
                            _.assign(
                                _.pick(this.$route, ['name', 'params']),
                                {query: _.assign(_.omit(this.$route.query, ['q', 'search_by', 'page']), _.pickBy(this.formFields, val => val))}
                            ))
                            : this.getData(this.$route.query);

                        this.submitSuccessHandle(response);
                        this.$root.$refs.toastr.s(this.responseMessage || 'Order has been deleted');
                    }
                    )
                    .catch((error) => {
                        this.submitErrorHandle(error);
                        this.$root.$refs.toastr.e(this.responseMessage)
                    })
                    .finally(() => this.deletingOrder = null);
            },
            sendReport(){
                this.isReportSending = true;
                this.report(this.$route.query)
                    .then((response) => {
                        this.submitSuccessHandle(response);
                        this.$root.$refs.toastr.s(this.responseMessage || 'Report has been sent');
                    })
                    .catch((error) => {
                        this.submitErrorHandle(error);
                        this.$root.$refs.toastr.e(this.responseMessage);
                    })
                    .finally(() => this.isReportSending = false);
            },
            orderUpdatedHandle(order){
                $(this.$refs[`modal${order.id}`][0].$el).modal('hide');
                this.getData(this.$route.query);
            },
                fillData () {
                    this.datacollection = {
                        labels: [this.getRandomInt(), this.getRandomInt()],
                        datasets: [
                            {
                                label: 'Data One',
                                backgroundColor: '#f87979',
                                data: [this.getRandomInt(), this.getRandomInt()]
                            }, {
                                label: 'Data One',
                                backgroundColor: '#f87979',
                                data: [this.getRandomInt(), this.getRandomInt()]
                            }
                        ]
                    }
                },
                getRandomInt () {
                    return Math.floor(Math.random() * (50 - 5 + 1)) + 5
                }
        },
        components: {
            LineChart,
            'sorting-indicator': {
                template: `<span v-html="(direction === 'asc' ? '▲' : '△') + (direction === 'desc' ? '▼' : '▽')"></span>`,
                props: ['direction'],
                name: 'sorting-indicator'
            },
        },
    }
</script>
