<template>
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <slot v-if="isShown"></slot>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                isShown: false
            }
        },
        created () {

        },
        mounted(){
            $(this.$el).on('hidden.bs.modal', () => {
                this.isShown = false;
            });
            $(this.$el).on('show.bs.modal', () => {
                this.isShown = true;
            })
        },
        methods: {

            hide() {
                $(this.$el).modal('hide');
            },
        }
    }
</script>
