<template>

    <nav v-if="+lastPage > 1 && pages">
        <ul class="pagination">

            <li v-if="_.get(arrows, 'left.number')" class="page-item">
                <a @click.prevent="navigate(arrows.left.number)" class="page-link" href="#">Previous</a>
            </li>

            <li v-for="page of pages" :class="{active: page && page.number === currentPage}" class="page-item">
                <a @click.prevent="navigate(page.number)" v-if="page && page.number !== currentPage" class="page-link" href="#">{{page.number}}</a>
                <span v-else-if="page && page.number === currentPage" class="page-link">{{page.number}}</span>
                <span v-else class="page-link">...</span>
            </li>

            <li v-if="_.get(arrows, 'right.number')" class="page-item">
                <a @click.prevent="navigate(arrows.right.number)" class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>

</template>

<script>

    export default {

        props: ['lastPage'],

        data() {
            return {
                currentPage: +this.$route.query.page || 1,
                pagesLimit: 7,
                pages: null,
                arrows: null,
            }
        },
        created() {
            this.calcPages();
        },
        computed: {
            _() {
                return _;
            },
        },
        watch: {
            total (newVal) {
                this.calcPages();
            },
        },
        methods: {

            navigate(page){

                let route = _.cloneDeep({
                    name: this.$route.name,
                    params: this.$route.params,
                    query: _.assign({}, this.$route.query, {page})
                });

                this.$router.push(route);
            },

            calcPages(){

                if (+this.lastPage <= 1) {
                    return;
                }

                this.pages = [];
                this.arrows = {
                    left: null,
                    right: null
                };

                for (let i = 1; i <= +this.lastPage; i ++) {

                    this.pages.push({
                        number: i,
                    });
                }

                let currentPageIndex = _.findIndex(this.pages, {number: +this.currentPage});

                if (+currentPageIndex !== 0){

                    this.arrows.left = {
                        number: this.currentPage - 1
                    };
                }

                if (+currentPageIndex < this.pages.length - 1){

                    this.arrows.right = {
                        number: this.currentPage + 1
                    };
                }

                if (this.pages.length > this.pagesLimit){

                    let indexLeft = currentPageIndex;
                    let indexRight = currentPageIndex;

                    let formattedPages = [this.pages[currentPageIndex]];

                    while (formattedPages.length < this.pagesLimit){

                        indexLeft--;
                        indexRight++;

                        if (indexLeft >= 0){
                            formattedPages.unshift(this.pages[indexLeft]);
                        }
                        if (indexRight < this.pages.length){
                            formattedPages.push(this.pages[indexRight]);
                        }
                    }

                    if (+formattedPages[0].number !== 1){
                        formattedPages[0] = {
                            number: 1
                        };
                        formattedPages[1] = null;
                    }

                    if (+formattedPages[formattedPages.length - 1].number !== +this.pages[this.pages.length - 1].number){
                        formattedPages[formattedPages.length - 1] = {
                            number: this.pages[this.pages.length - 1].number
                        };
                        formattedPages[formattedPages.length - 2] = null;
                    }

                    this.pages = formattedPages;
                }
            }
        }
    }
</script>
